{% extends 'no_base.html.twig' %}

{% block title %}Portrait chinois{% endblock %}

{% block body %}
    <div class="my-2 text-center">
        <h1>Philippe NAVEILHAN</h1>
        <p>Portrait Chinois</p>
    </div>
    <div class="my-5 w-100 align-items-center">
        <div class="w-75 mx-auto d-flex flex-wrap justify-content-around">
            {% for key,item in titles %}
            <div class="card text-center">
                <div class="card-img">
                    <div class="img">
                        <img style="width: 100%" src="build/otero/{{ item.img }}">
                    </div>
                    <div class="title">
                        {{ item.title|upper }}
                    </div>
                </div>
                <div class="card-txt px-1 pt-5 text-center">
                    <div class="txt-bg" style="background-color: {{ item.color }}"></div>
                    <div class="txt-txt w-100">
                        <div class="my-auto">
                           <p>{{ item.text|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}