{% extends 'base.html.twig' %}

{% block title %}Enregistrer un nouvel élève{% endblock %}

{% block body %}
    <h1 class="text-center">Enregistrer un nouvel élève pour la classe "{{ classroom.name }}"</h1>
<div class="text-center">
    {{ include('student/_form.html.twig') }}
</div>
    <a href="{{ path('board') }}" class="button button button-primary">Retour</a>
{% endblock %}
