{% extends 'base.html.twig' %}


{% block title %}Mat'Tools{% endblock %}

{% block body %}
<div id="homepage">
    <div id="bandeau1" class="overflow-hidden">
        <img src="{{ asset('build/images/papers_pencils.webp') }}" class="w-100" alt="classe"/>
        <div class="sentence">
            L'outil de gestion<br>
            de votre classe maternelle !
        </div>
    </div>
{% set titles = [
    {'text': "Créer sa classe...", 'picture':'classroom.png'},
    {'text': "Enregistrer ses élèves...", 'picture':'students.png'},
    {'text': "Editer listes, étiquettes...", 'picture':'etiquettes.png'},
    {'text': "Gérer mes évaluations...", 'picture':'evaluations.png'}
] %}
    {% for title in titles %}
    <div class="line">
        <div class="blocTitle position-absolute">
            <div class="text">
                <div class="line1">{{ title.text|homeTitle|raw }}</div>
            </div>
            <div class="text-bg"></div>
            <div class="little-cadre"></div>
            <div class="line-img"></div>
        </div>
        <img src="{{ asset('build/images/'~title.picture) }}"/>
    </div>
    {% endfor %}
<div class="w-100 text-center">
    <a href="{{ path('app_login') }}">
        <button class="btn btn-primary my-3">Se connecter / S'inscrire</button>
    </a>
</div>

</div>
{% endblock %}
