<h1>Bonjour, et merci de la confiance que vous nous accordez !</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heures.
</p>
<p>
    Cordialement,
</p>

<p>
    L'équipe de Mat'Tools,<br>
    les outils de la maternelle... réservés aux enseignants !
</p>
