<form method="post" action="{{ path('evalbloc_delete', {'id': evalbloc.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de souhaiter supprimer ce bloc de compétences, ainsi que tout ce qui s\'y rattache ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evalbloc.id) }}">
    <button class="button button-danger">Supprimer</button>
</form>
