{% extends 'base.html.twig' %}

{% block title %}Modifier un bloc de compétences{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Modifier le bloc de compétence :<br> "{{ evalbloc.name }}"</h1>
    <div class="my-4">
        <a class="button button-dyna" href="{{ path('evaluation_showarbo', {'id': evalbloc.category.theme.evaluation.id}) }}">Retour</a>
    </div>

    <div class="text-center">
    {{ include('evalbloc/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('evalbloc/_delete_form.html.twig') }}
    </div>

{% endblock %}
