<form method="post" action="{{ path('evalcategory_delete', {'id': evalcategory.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de souhaiter supprimer cette catégorie, ansi que tout ce qui s\'y rattache ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evalcategory.id) }}">
    <button class="button button-danger">Supprimer</button>
</form>
