{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Modification de la catégorie :<br> "{{ evalcategory.name }}"</h1>

    <div class="text-center">
    {{ include('evalcategory/_form.html.twig', {'button_label': 'Modifier'}) }}


        {{ include('evalcategory/_delete_form.html.twig') }}
    </div>
    <a class="button button-dyna" href="{{ path('evaluation_showarbo', {'id': evalcategory.theme.evaluation.id}) }}">Retour</a>

{% endblock %}
