{% extends 'base.html.twig' %}

{% block title %}New Evalcategory{% endblock %}

{% block body %}
    <h1>Create new Evalcategory</h1>

    {{ include('evalcategory/_form.html.twig') }}

    <a href="{{ path('evalcategory_index') }}">back to list</a>
{% endblock %}
