<form class="text-center" name="evaluation" method="post">
        <div class="text-center">
            <input type="text" id="evaluation_name" name="evaluation[name]" value="{{ evaluation.name }}" required="required" maxlength="255"/>
        </div>

    <button class="button button-primary">Enregistrer</button>
</form>
