{% extends 'base.html.twig' %}

{% block title %}Modifier l'évaluation{% endblock %}

{% block body %}
    <h1>Modifier l'évaluation</h1>

    {{ include('evaluation/_form_edit.html.twig', {'button_label': 'Update'}) }}

    <a class="button button-primary" href="{{ path('evaluation_index', {'id': classroom.id}) }}">Retour</a>

{% endblock %}
