{% extends 'base.html.twig' %}

{% block title %}Nouvelle évaluation{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Créer une nouvelle évaluation</h1>

    {{ include('evaluation/_form.html.twig') }}
    <a href="{{ path('evaluation_index', {'id': classroom.id}) }}" class="ml-5 button button-dyna">Retour</a>

{% endblock %}
