@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Righteous&display=swap');

.font-title{
  font-family: 'Righteous', cursive;
}
h1{
  font-size: 32px!important;
}
h1, h2, .font-text {
  font-family: 'Cabin', sans-serif;
}
$primary: #00187b;
$secondary: #7cbb00;
$light: #eee;
$dark: #111;
$orange: #ffbb00;
$red: #ec4f13;

.bg-primary{
  background-color: $primary;
  color: $light;
}
.bg-secondary{
  background-color: $secondary;
}
.bg-dyna{
  background-color: $orange;
}
.bg-alert{
   background-color: $red;
 }
.bg-light{
  background-color: $light;
}
.bg-dark{
  background-color: $dark;
  color: $light;
}


.text-secondary{
  color: $secondary;
}
.text-dyna{
  color: $orange;
}
.text-danger{
  color: $red;
}
.button {
  margin: 8px;
  padding: 8px;
  border-radius: 16px;
  font-weight: bold;
  border: none;
}
.button:hover{
  border: none;
  text-decoration: none;
}
.button-primary{
  background-color: $primary;
  color: $light;
}
.button-primary:hover{
  background-color: $light;
  color: $primary;
}
.button-secondary{
  background-color: $secondary;
  color: $primary;
}
.button-secondary:hover{
  background-color: $primary;
  color: $secondary;
}

.button-dyna{
  background-color: $primary;
  border: solid 1px $primary;
  color: $light;
}
.button-dyna:hover{
  background-color: $light;
  color: $primary;
  border: solid 1px $primary;
}

.button-danger{
  background-color: $red;
  color: $light;
}
.button-danger:hover{
  background-color: $light;
  color: $red;
}
.no-button{
  background-color: transparent;
  border: none;
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000
}

.option-input:hover {
  background: #9faab7
}

.option-input:checked {
  background: $primary;
}

.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 30px
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.25s;
  -moz-animation: click-wave 0.25s;
  animation: click-wave 0.25s;
  background: $primary;
  content: '';
  display: block;
  position: relative;
  z-index: 100
}

.option-input.radio {
  border-radius: 50%
}

.option-input.radio::after {
  border-radius: 50%
}

@for $i from 1 through 10 {
  .font-size-#{$i} {
    font-size: 6px+(3px*$i);
  }
}
@for $i from 1 through 10 {
  .dec-lt-#{$i} {
    top: -5px*$i;
    left: -5px*$i;
  }
}
@for $i from 1 through 5 {
  .w-#{$i}00 {
    width: 100px*$i;
  }
}
@for $i from 1 through 5 {
  .br-#{$i} {
    border-radius: 2px*$i;
  }
}
