#bandeau1{
  height: 400px;
  width: 100%;
  filter: grayscale(0.7);
}
#classroom{
  color: $light;
  width: 100%;
  background-color: #2e63a7;
}
#bandeau2 {
  height: 200px;
  width: 100%;
  background-color: #a72e64;
}
#evaluation {
  height: 200px;
  width: 100%;
  background-color: #a7952e;
}
#bandeau3{
  height: 200px;
  width: 100%;
  background-color: #2ea74c;
}
#Liste-etiquettes{
  height: 200px;
  width: 100%;
  background-color: #3a587f;
}
