#academy, #district, #circo, #school {
  .pastille {
    font-family: "Cabin SemiBold";
    font-size: 24px;
    border: solid 2px $primary;
    background-color: $primary;
    color: $primary;
    width: 250px;
    height: 100px;
    border-radius: 8px;
  }

  .pastille:hover {
    background-color: $primary;
    color: $primary;
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
  }
}
