@import "base";
@import "board";
@import "evaluation";
@import "form";
@import "graphic";
@import "map";
@import "navbar";
@import "user";
@import "~bootstrap/scss/bootstrap";

*{
    font-family: 'Cabin', sans-serif;
}
body {
    background-color: $primary-light;
    color: $dark;
}
