<form method="post" action="{{ path('evalcompetence_delete', {'id': evalcompetence.id}) }}" onsubmit="return confirm('Êtes-vous certain de souhaiter supprimer cette compétence ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evalcompetence.id) }}">
    <button class="button button-danger">Supprimer</button>
</form>
