{% extends 'base.html.twig' %}

{% block title %}Edit Evalcompetence{% endblock %}

{% block body %}
    <h1>Edit Evalcompetence</h1>

    {{ include('evalcompetence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evalcompetence_index') }}">back to list</a>

    {{ include('evalcompetence/_delete_form.html.twig') }}
{% endblock %}
