{% extends 'base.html.twig' %}

{% block title %}Edit Evalcompetence{% endblock %}

{% block body %}
    <div class="text-center my-5">
    <h1>Modifier une compétence</h1>
<div class="text-left">
    <a class="button button-dyna" href="{{ path('evaluation_show', {'id': evaluation.id}) }}">Retour</a>
</div>
    {{ include('evalcompetence/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    {{ include('evalcompetence/_delete_form.html.twig') }}
    </div>
<a class="button button-dyna" href="{{ path('evaluation_show', {'id': evaluation.id}) }}">Retour</a>
{% endblock %}
