{% extends 'base.html.twig' %}

{% block title %}Edit Evalcompetence{% endblock %}

{% block body %}
    <h1>Edit Evalcompetence</h1>

    {{ include('evalcompetence/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="button button-dyna" href="{{ path('evaluation_index', {'id': evalcompetence.evaluation.id}) }}">Retour</a>

    {{ include('evalcompetence/_delete_form.html.twig') }}
{% endblock %}
