{% extends 'base.html.twig' %}

{% block title %}Nouvelle compétence{% endblock %}

{% block body %}
    <div class="text-center text-primary">
        <h1 class="m-5">Enregistrer une nouvelle compétence</h1>
        <div class="text-left">
                <a class="button button-dyna mt-2" href="{{ path('evaluation_showarbo', {'id': evaluation.id}) }}">Retour</a>
        </div>

        {{ include('evalcompetence/_form.html.twig') }}
    </div>

{% endblock %}
