<form method="post" action="{{ path('evaltheme_delete', {'id': evaltheme.id}) }}" onsubmit="return confirm('Êtes-vous certain(e) de souhaiter supprimer ce thème (ainsi que tout ce qui s\'y rattache ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaltheme.id) }}">
    <button class="button button-danger">Supprimer</button>
</form>
