{% extends 'base.html.twig' %}

{% block title %}New Evaltheme{% endblock %}

{% block body %}
    <div class="my-4">
        <a class="button button-dyna" href="{{ path('evaluation_showarbo', {'id': evaluation.id} ) }}">retour</a>
    </div>
    <h1 class="text-center text-primary my-5">Créer un nouveau thème</h1>
    <div class="text-center">
    {{ include('evaltheme/_form.html.twig') }}
    </div>
{% endblock %}
