<div id="footer" class="bg-primary text-light w-100 mx-0 row">
    <div class="py-2 d-flex flex-column col-3 offset-1">
        Mat'Tools<br>
        8, les Râles, 45210 MERINVILLE<br>
        07-83-30-76-21
    </div>
    <div class="text-center py-2 d-flex flex-column col-4">
        <div>
            <a class="text-light text-decoration-none" href="#">
                CGU
            </a>
        </div>
        <div>
            <a class="text-light text-decoration-none" href="#">
                Mentions légales
            </a>
        </div>
        <div>
            <a class="text-light text-decoration-none" href="#">
                FAQ
            </a>
        </div>
    </div>
    <div class="text-center py-2 d-flex flex-column col-4">
        <div>
            <a class="text-light text-decoration-none" href="{{ path('contact') }}">
                Contact
            </a>
        </div>
    </div>
</div>
