{% extends 'base.html.twig' %}

{% block title %}Edit Classroom{% endblock %}

{% block body %}
    <div class="text-center">
    <h1 class="my-5">Modifier le nom de la classe</h1>

    {{ include('classroom/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <a class="button button-dyna" href="{{ path('board') }}">Retour</a>


{% endblock %}
