{% extends 'base.html.twig' %}

{% block title %}New Evalstudent{% endblock %}

{% block body %}
    <h1>Create new Evalstudent</h1>

    {{ include('evalstudent/_form.html.twig') }}

    <a href="{{ path('evalstudent_index') }}">back to list</a>
{% endblock %}
