{% extends 'base.html.twig' %}

{% block body %}

<div style="height:800px; width:1200px" class="mx-auto overflow-hidden">
    {% set rand = random(0,1000) %}
    {% set text = random(1001,1900) %}
    {% for i in (0..2000) %}
        {% if i == rand %}
            <span style="font-size: 20px" class="text-danger font-title">E R R O R 4 0 4</span>
        {% elseif i == text %}
            <span style="font-size: 20px" class="text-danger font-title">. . P A G E . . N O T . . F O U N D . .</span>
        {% else %}
                <span style="font-size: {{ random(['12','14','16','18','20','24']) }}px;color:#{% for i in 0..5 %}{{ random(['0','1','2','3','4','5','6','7','8','9','a','b','c','d','e','f']) }}{% endfor %}">{{ random(0,9) }}</span>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
