{% extends 'base.html.twig' %}

{% block title %}Nouvelle école{% endblock %}

{% block body %}
    <h1 class="text-center">Enregistrer une nouvelle école</h1>

    <div class="my-4 ml-3">
        <a class="btn btn-primary" href="{{ path('select_academy') }}">Retour</a>
    </div>
    <div class="col-6 offset-3">
        {{ include('school/_form.html.twig') }}
    </div>

{% endblock %}
