{% extends 'base.html.twig' %}

{% block title %}Edit Circo{% endblock %}

{% block body %}
    <h1>Edit Circo</h1>

    {{ include('circo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('circo_index') }}">back to list</a>

    {{ include('circo/_delete_form.html.twig') }}
{% endblock %}
