<div class="et-porte-manteau text-center {% if student.sex == 'fille' %}girls {% else %} boys{% endif %}">
    <div class="image row mx-0 border-top-0 border-left-0 border-right-0 border-solid w-100">
        <div class="h-100 align-middle overflow-hidden text-center col-6 border-solid border-top-0 border-bottom-0 border-left-0 px-0">
            <img class="w-100 mt-3" src="/images/porte-manteauPS/{{ count }}.png" alt="splat">
        </div>
        <div class="initiale my-auto text-center col-6 px-0 script">{{ student.firstname|first }}</div>
    </div>
    <div class="script">{{ student.firstname|upper|replace({'!':' <span class="script">'~student.name|first~'</span>'})|raw }}</div>
</div>
