<div class="et-table border border-dark text-center {% if student.sex == 'fille' %}girls {% else %} boys{% endif %}">
    <p class="text-center script my-0 py-0">{{ student.firstname|upper|replace({'!':' <span class="script">'~student.name|first~'</span>'})|raw }}</p>
    <p class="text-center script my-0 py-0">{{ student.firstname|capitalize|replace({'!':' <span class="script">'~student.name|first~'</span>'})|raw }}</p>
    <p class="text-center script my-0 py-0">{{ student.firstname|first|upper }}<span class="cursive">{{ student.firstname[1:]|replace({'!':' <span class="script">'~student.name|first~'</span>'})|raw }}</span></p>
</div>
