{% extends 'base.html.twig' %}

{% block title %}Sélection de mon école{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Sélectionnez votre département</h1>

    <section id="district">
        <div class="w-100 m-0 d-flex flex-wrap justify-content-around">
            {% for district in districts %}
                <a href="{{ path('select_circo', {'id': district.id}) }}">
                    <div class="m-2 pastille text-center">
                        {{ district.name }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <a class="button button-dyna" href="{{ path('user_show') }}">Retour</a>
{% endblock %}
