{% extends 'base.html.twig' %}

{% block title %}Sélection de mon école{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Sélectionnez votre académie</h1>

    <section id="academy">
        <div class="text-center">
            {% include('svg/_academy.html.twig') %}
        </div>
    </section>

    <a class="button button-dyna" href="{{ path('user_show') }}">Retour</a>
{% endblock %}
