{% extends 'base.html.twig' %}

{% block title %}Sélection de mon école{% endblock %}

{% block body %}
    <h1>Sélectionnez votre circonscription</h1>

    <section id="circo">
        <div class="w-100 m-0 d-flex flex-wrap justify-content-around">
            {% for circo in circos %}
                <a href="{{ path('select_school', {'id': circo.id}) }}">
                    <div class="m-2 pastille text-center">
                        {{ circo.name }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <a class="button button-dyna" href="{{ path('user_show') }}">Retour</a>
{% endblock %}
